body {
    font-family: 'Lexend Exa', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    color: #666;
}

a:hover {
    color: #FF5733;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
