/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(0deg, #050505 13%, #000a52 100%);
    color: #333;
    line-height: 1.6;
    padding-top: 50px; /* Adjust based on your header height */
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

header h1 {
    margin: 0;
}

/* Navigation styles */
nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
}

/* Main content styles */
.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h2 {
    margin-top: 0;
}

.project p {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

