/* Styles pour le menu responsive */
@media only screen and (min-width: 768px) {
    .navigation-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation-wrap {
        display: flex;
        align-items: center;
    }

    .navigation-items.w-nav-menu {
        display: flex;
        justify-content: flex-end;
    }

    .menu-button {
        display: none;
    }

    .logo-image {
        order: -1;
    }

    .navigation-items {
        flex-grow: 1;
    }

    .logo-link {
        margin-right: auto;
    }
}

@media only screen and (max-width: 767px) {
    .navigation-items.w-nav-menu {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .navigation-items {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        border-bottom: 1px solid #ccc;
        display: none;
    }

    .navigation-items.w-nav-menu.open {
        display: flex;
    }

    .navigation-item {
        margin-bottom: 10px;
    }

    .logo-link {
        margin-right: auto;
    }

    .logo-image {
        order: 0;
    }
}

/* Styles pour le footer */
footer {
    background-color: #520202;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .container {
    max-width: 960px;
    margin: 0 auto;
}
